/* No white background on autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

/* Custom scrollbar */
/* ::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: var(--chakra-colors-bg-surface);
}

::-webkit-scrollbar-thumb {
  padding: 2px;
  border: 3px solid var(--chakra-colors-bg-surface);
  border-radius: 8px;
  background: var(--chakra-colors-bg-canvas);
} */
